html,
body {
  font-family: sans-serif;
  color: #444;
}

.main-container {
  border: 2px solid #444;
}

.main-heading {
  background-color: rgba(128, 128, 128, 0.216);
  text-align: center;
}

.shipping-text {
  color: gray;
  font-weight: bold;
}

/* Link styles */
.more-info:link, .more-info:visited {
  color: #444;
}

.more-info:hover, .more-info:active {
  text-decoration: none;
}

.features{
  list-style:square;
}

/* Button styles */

.btn-add-to-cart {
  color: #fff;
  background-color: black;
}

.btn-add-to-cart:hover {
  color: black;
  background-color: #fff;
  cursor: pointer;
}