* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  color: #444;
}

.main-container {
  border: 2px solid #444;
  margin: 50px;
  display:flex;
  align-items: center;
}

.el-1{
  background-color: rgb(209, 11, 11);
}
.el-2{
  background-color: rgb(18, 11, 209);
}
.el-3{
  background-color: rgb(11, 209, 18);
  height: 200px;
}
.el-4{
  background-color: rgb(136, 11, 209);
}
.el-5{
  background-color: rgb(209, 153, 11);
}
.el-6{
  background-color: rgb(209, 189, 11);
}
.el-7{
  background-color: rgb(11, 209, 150);
}
.el-8{
  background-color: rgb(209, 11, 146);
}